.sidebar,
.sidebar-mobile {
  background-color: #060010 !important;
}

.sidebar::before {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  pointer-events: none;
  background: linear-gradient(to top, #060010, transparent);
  z-index: 4;
  transition: opacity 0.3s ease;
}

.sidebar.sidebar-no-fade::before {
  opacity: 0;
}

.sidebar {
  min-width: 240px;
  padding: 4.75rem 0 6em 0 !important;
}

@media only screen and (max-width: 967px) {
  .sidebar {
    display: none;
  }
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  display: none;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #060010;
  border-radius: 50px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #271e37;
}

.sidebar-logo {
  padding: 2em calc(1em + 2px) !important;
  border-bottom: none;
  width: 100%;
}

.sidebar-logo img {
  position: relative;
  height: 32px;
}

.sidebar-item {
  position: relative;
  font-size: 1rem;
  color: #fff;
  padding: 0.15em 0;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.sidebar-item:hover {
  color: #fff;
}

.active-sidebar-item {
  width: fit-content;
  padding: 0.15em 0.15em 0.15em 0;
  color: #fff;
  position: relative;
  transition: color 0.3s ease;
}

.active-sidebar-item:hover {
  text-decoration: none;
}

.sidebar-item .new-tag,
.sidebar-item .updated-tag {
  margin-left: 0.6em;
  font-size: 10px;
  border-radius: 6px;
  font-weight: 500;
  padding: 0.2em 0.4em;
  opacity: 1;
  text-decoration: none !important;
}

.sidebar-item .new-tag {
  color: #fff;
  border: 1px solid #5227ff;
  background-color: rgba(82, 39, 255, 0.3);
}

.sidebar-item .updated-tag {
  color: #fff;
  border: 1px solid #ffffff77;
  background-color: #ffffff26;
}

.github-button {
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.github-button img {
  transition: filter 0.3s ease;
}

.github-button:hover {
  border-color: #ffffff1c;
  background-color: #060010 !important;
  color: #fff;
}

.github-button:hover img {
  filter: invert(100%);
}

.cta-button-docs {
  font-weight: 500;
  font-size: 12px;
  padding: 0 0 0 1rem;
  height: 40px;
  background: linear-gradient(135deg, rgba(124, 58, 237, 1), rgba(24, 47, 255, 0.6));
  background-size: 200% 200%;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  transition: 0.3s ease;
}

.cta-button-docs span {
  background-color: #060010;
  margin-left: 1em;
  margin-right: calc(1em - 6px);
  padding-top: 0.1em;
  height: 30px;
  border-radius: 50px;
  width: 75px;
  font-weight: 600;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-button-docs span img {
  margin-right: 4px;
  width: 12px;
  height: 12px;
  transition: 0.3s ease;
}
